.anchor-pane {
-fx-background-color: #000000;
}

.title {
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
    -fx-font-size: 40px;
    -fx-font-style: italic;
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #232323;
    -fx-background-radius: 10px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #343434;
}

.button-active {
    -fx-background-color: #34aaaa;
}

.button-active:hover {
    -fx-background-color: #34aaaa;
}

.check-box {
    -fx-text-fill: #ffffff;
    -fx-font-size: 14px;
    -fx-font-style: italic;
    -fx-cursor: hand;
}

.nav-bar {
    -fx-background-color: #343434;
}

.nav-pane {
    -fx-background-color: #121212;
    -fx-background-radius: 10px;
}

.menu-anchor-pane {
    -fx-background-color: #23232388;
}
